langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38
langchain-google-genai==1.0.10
chromadb==0.4.24
pypdf
python-dotenv
streamlit
sentence-transformers
duckduckgo-search
extra-streamlit-components
langchain-openai
pysqlite3-binary
